* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  margin: 0 auto;
  max-width: 1260px;
  width: 100%; }

.logo a, .nav1 a, .tel a, .insta a {
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
  text-decoration: none; }

button, .submit, .submitinfo, .form-request h4, .call a, .goal h5, .steps-element h6 {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF; }

.projects h3, .data h5, .online h4, .headtype h3, .redecor h4, .overhaul h4, .repair h4, .price a, .proposal-element h4, .project h4, .inside-mini h4, .inside-standart h4, .inside-full h4, .goal h2, .goal h4, .goal h3, .team h4, .human-info h5, .experience a {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873; }

.projects p, .data p, .nav2 a, .project p, .goal p, .steps-element p, .team p, .human-info p {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF; }

.request, button, .inside-mini .price2, .inside-standart .price2, .inside-full .price2 {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px; }

.header, .footer {
  background-color: #131313;
  padding-top: 22px;
  padding-bottom: 24px; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.turnkey {
  background-image: url(./assets/image.jpg);
  background-size: cover;
  width: 100%;
  height: 707px;
  padding-left: 60px;
  padding-top: 184px; }

.nav1 a {
  font-family: "FuturaBookC";
  color: #FFFFFF;
  margin-left: 47px; }
  .nav1 a:hover {
    color: #E3B873; }

.tel a {
  text-decoration: underline; }

.request {
  width: 161px;
  height: 37px;
  text-align: center;
  margin-left: 45px; }

.request a {
  display: block;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 37px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.insta {
  background-color: #131313; }

.insta a {
  display: block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  line-height: 707px; }

h1 {
  font-family: "Yeseva One";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF; }

.light {
  color: #E3B873; }

.turnkey p {
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 29px;
  margin-bottom: 41px; }

button {
  width: 207px;
  height: 57px;
  border: none;
  cursor: pointer; }

.submit {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  width: 207px;
  height: 51px;
  margin-left: 20px; }

.projects {
  margin-top: 65px; }
  .projects p {
    margin-top: 34px;
    margin-bottom: 42px; }

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 340px; }
  .data p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 9px;
    margin-bottom: 34px; }
  .data h5 {
    font-size: 18px;
    line-height: 25px; }

.nav2 a {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 60.5px; }

.nav2 a:hover {
  color: #E3B873;
  text-decoration: underline; }

.slider img {
  margin-top: 50px;
  width: 649px;
  height: 482px; }

.section2 {
  background-color: #131313;
  padding-left: 100px; }
  .section2 .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 100px; }

.line1, .line2 {
  width: 32px;
  height: 1.5px;
  background-color: #E3B873;
  border-radius: 30px; }

.online {
  padding-top: 91px;
  padding-bottom: 12px; }
  .online h4 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center; }

.vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.video1 {
  width: 817px;
  height: 434px;
  position: relative;
  margin-top: 31px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15); }

.play {
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 45%; }

.play a {
  display: block;
  line-height: 95px; }

.line3 {
  background: #E3B873;
  border-radius: 30px;
  width: 55px;
  height: 1.5px;
  margin: 0 auto;
  margin-top: 62.5px; }

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 31px; }

.text p {
  margin-top: 35px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636; }

.form {
  text-align: center;
  margin-top: 93px;
  margin-bottom: 148px; }

.submitinfo {
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  width: 200px;
  height: 51px;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-left: 50px; }

.name, .phone {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 231px; }

.phone {
  margin-left: 58px;
  margin-bottom: 35px; }

.headtype h3 {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
  text-align: center;
  margin-bottom: 13px; }

.redecor-inside {
  background-image: url(./assets/stena.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.overhaul-inside {
  background-image: url(./assets/orange.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.repair-inside {
  background-image: url(./assets/wow.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.redecor, .overhaul, .repair {
  width: 330px;
  height: 286px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  position: absolute;
  left: 31px;
  top: 294px; }
  .redecor h4, .overhaul h4, .repair h4 {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 13px; }
  .redecor li, .overhaul li, .repair li {
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: #959595; }

.price {
  width: 228px;
  height: 54px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  margin-top: 10px; }

.price a {
  text-decoration: none;
  display: block;
  line-height: 54px;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center; }

.opportunity {
  margin-top: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-request {
  background-color: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 506px;
  height: 509px;
  margin-top: 124px; }
  .form-request h4 {
    font-size: 20px;
    line-height: 25px;
    padding-top: 24px;
    padding-bottom: 39px; }

.call {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  width: 213px;
  height: 51px; }
  .call a {
    display: block;
    line-height: 51px;
    text-transform: uppercase;
    text-decoration: none; }

.section5 {
  background-image: url(./assets/fof.jpg);
  height: 864px;
  margin-top: 242px; }

.proposal-element {
  padding-top: 137.5px;
  margin-left: 99px; }
  .proposal-element h4 {
    margin-bottom: 47px; }
  .proposal-element li a {
    font-family: "Proxima Nova";
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    text-decoration: none; }
  .proposal-element ul {
    list-style-type: none; }
  .proposal-element li {
    margin-bottom: 13px; }
  .proposal-element a:hover {
    text-decoration: underline;
    color: #E3B873; }

.proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.proposal-img {
  width: 750px; }

.project {
  margin-top: 412px; }
  .project h4 {
    font-size: 20px;
    line-height: 28px;
    color: #131313;
    text-align: center;
    margin-bottom: 13px; }
  .project p {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
    margin-top: 24px;
    margin-bottom: 39px; }

.project-mini {
  background-image: url(./assets/stena.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.project-standart {
  background-image: url(./assets/wow.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.project-full {
  background-image: url(./assets/kl.jpg);
  width: 392px;
  height: 421px;
  position: relative; }

.project-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.inside-mini, .inside-standart, .inside-full {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  position: absolute;
  left: 31px;
  top: 294px; }
  .inside-mini h4, .inside-standart h4, .inside-full h4 {
    font-size: 18px;
    line-height: 25px;
    color: #363636; }
  .inside-mini li, .inside-standart li, .inside-full li {
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: #959595; }
  .inside-mini .price2, .inside-standart .price2, .inside-full .price2 {
    width: 228px;
    height: 54px; }

.price2 a {
  font-family: "Yeseva One";
  display: block;
  font-size: 18px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none; }

.goal h5 {
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 18px; }

.goal h2 {
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 92px; }

.goal h4 {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 22px; }

.goal h3 {
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 16px; }

.goal p {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 20px; }

.section7 {
  margin-top: 300px;
  background-color: #131313; }

.team-spirit, .steps-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.steps {
  padding-top: 100px; }

.steps-element {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .steps-element h6 {
    text-align: left;
    font-size: 15px;
    line-height: 21px;
    text-decoration: underline;
    -webkit-text-decoration-color: #E3B873;
    text-decoration-color: #E3B873;
    margin-bottom: 16px; }
  .steps-element p {
    font-size: 15px;
    line-height: 18px; }
  .steps-element .element-1 {
    margin-right: 202px;
    margin-bottom: 46px; }
  .steps-element .element-2 {
    margin-right: 221px; }
  .steps-element .element-4 {
    margin-bottom: 54px; }

.team h4 {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 12.5px; }

.vector-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100px; }

.team p {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 23.5px; }

.human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 73.5px; }

.human-1 {
  background-image: url(./assets/man1.jpg);
  width: 272px;
  height: 358px; }

.human-2 {
  background-image: url(./assets/woman.jpg);
  width: 272px;
  height: 358px; }

.human-3 {
  background-image: url(./assets/man3.jpg);
  width: 272px;
  height: 358px; }

.human-info {
  width: 233px;
  height: 137px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05); }
  .human-info h5 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181818;
    text-transform: inherit; }
  .human-info p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595; }

.experience {
  width: 233px;
  height: 44px;
  background-color: #E3B873; }
  .experience a {
    display: block;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF; }

.section9 {
  background-image: url(./assets/city.jpg); }

.questions {
  width: 883px;
  height: 445px;
  background-color: #131313; }

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
